@import '../abstracts/variables';
@import '../base/normalize.css';
@import '../abstracts/mixins';



body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;

}

header{
    @include white_background_header;
}

.fa-arrow-left{
    position: relative;
    right: 70px;
    @include flex_centre;
    font-size: medium;
    color: black;

    &__:active{
        color: black;
    }
}

img{
    max-height: 257px;
    object-fit: cover;
}



h3{
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
}

.global__restaurant__menu{
    margin: 0;
    padding: 0;
    width: 100%;

        &__image{
            width: 100vw;
        }
}

.menus__page__resto{
@include menus__page__resto;

&__title_coeur{
@include menus__page__resto__title_coeur;
}

&__titre{
    @include menu__page__resto__titre;
    

}

&__heart{
    @include flex_centre;
    @include menu__page__resto__heart;
    cursor: pointer;

    &:hover .fa-solid{
        opacity: 1;
        transform: scale(1.2);
        animation: remplissage_coeur 3s ease-in;
    
    }

    &:hover .fa-regular{
        color: transparent;
    }
    }

    & h3{
        text-transform: $text_uppercase;
        margin-left: $margin-left;

        &::after{
            content: "";
            width:2.5rem;
            height: 0.25rem;
            position: absolute;
            left: 0;
            bottom: -5px;
            background-color: $couleur_tertiaire;
        }

    }
}

.menus__display{
    
    &__cards{
        display: flex;
        justify-content: space-around;
        border-radius: 15px;
        background-color: white;
        margin: 20px 10px;
        box-shadow: 0.25rem 0.25rem 1rem rgba( 0, 0, 0, 0.15);
        cursor: pointer;
        animation: delay_items_menu 2s linear both;

            &__green__check{
                background-color: $couleur_tertiaire;
                @include flex_centre;
                width: 5rem;  
                display: none;
                border-radius: 0 15px 15px 0;
                animation: green_box 1s linear both;
                
                
            }

            &__rotate__icon .fa-check{
                background-color: white;
                color: $couleur_tertiaire;
                border-radius: 50%;
                animation: green_check 1s linear 1 normal both;
                width: 1.5rem;
                height: 1.5rem;
                @include flex_centre;
               
            }
            
            &__prix{
                width: 10%;
               display: flex;
               @include flex_price_menu;
                font-weight: 500;
                margin-bottom: 10px;
                font-size: 15px;

            }

            &__rotate__icon{
                    @include flex_centre;
                    height: 100%;
                    
            }

        & h4{
            margin: 0;
            padding: 10px 0 2px 5px;
            text-overflow: ellipsis;
            overflow: hidden;
          
           
        }

            & p{
                margin: 0;
                padding: 0 0 10px 5px;
                text-overflow: ellipsis;
                overflow: hidden;
             
            }
      


        &__content{
            width: 90%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

                
            
        }
    
        }

        &__cards:hover{

            .menus__display__cards__green__check{
                display: block;

            }
        }

       
    }

    .delay_1{
        animation: delay_items_menu 2s .2s linear both;
    }

    .delay_2{
        animation: delay_items_menu 2s .6s linear both;
    }

    .delay_3{
        animation: delay_items_menu 2s 1s linear both;
    }

    .delay_4{
        animation: delay_items_menu 2s 1.2s linear both;
    }


   


.button__page__menu__violet{
    @include flex_centre;
    width: 100vw;

    &__submit__commande{
        @include button__violet__gradient;
    }
}




                                                                                            /*Media queries pages menus*/ 

@media screen and(min-width:650px){
    .menus__page__resto{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    

        &__title_coeur{
            width: 100%;
        }
    }

    .global__restaurant{
        width: 45vw;
        min-width: 45vw;
    }

    &__menu__display{
        width: 45%;
        display: flex;
        justify-content: space-around;
    }
    
}





