$couleur_principale :#9356DC;

$couleur_secondaire :#FF79DA;

$couleur_tertiaire :#99E2D0;

$polices_logo_titres: 'shrikhand',cursive;

$polices_textes : 'roboto', sans-serif;

$margin-left: 20px;

$border-radius-menu: 25px 25px 0 0;


$background_color_main: #f7f7f7;

$text_uppercase: uppercase;

